body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
width: 1440px;
height: 100%;

}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}



.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


}
.container  {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header-container {
display: flex;
justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-logo-web {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo {

    font-family: 'Raleway', sans-serif;
    color:  #2E2F42;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-nav {
    display: flex;
    gap: 40px;
}

.link-studio {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
   
}
.link-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}


.studio-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
    }
    
    .studio-nav a:focus , 
    .studio-nav a:hover {
        color: #404bbf;  
        
    }
.address {
    display: flex;
    gap: 40px;
}

.contacts-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
}

.contacts-nav a:focus , 
.contacts-nav a:hover {
    color: #404bbf;  
  }


.tel-email {
    font-style: normal;
}
.email a {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.telephone a {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}
.tel-email a:focus, 
.tel-email a:hover {
    color: #404bbf;  
}

.solution {
    background:  #2E2F42;
    padding: 188px 0;
    
}
.title-name {
    max-width: 496px;
    color:  #FFF;
text-align: center;

font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin: 0 auto;

}


.btn-order {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    color:  #FFF;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
}

.btn-order:focus ,
 .btn-order:hover {
    background-color: #404BBF;
}

.advantages {
    padding: 120px 0;
}
.advantages-list {
    display: flex;
    gap: 24px;
    
    
}
.advantages-text {
    width: calc((100% - 72px) / 4);
    
}

.name-adv {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
    
}

.text-adv {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}


.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.name-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    
}
.team-list-profil {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-text {
    padding: 32px 0;
}


.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
    
}
.name-team {
    margin-bottom: 72px;
    text-align: center;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
background:  #FFF;
}
.services-list-img {
    width: calc((100% - 48px) / 3);
}
.servises-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-nav a:focus , 
.portfolio-nav a:hover {
    color: #404bbf;  
  }

.name-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo-web {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo  {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  